# R Requirements File
# Generated 2017-12-06
# Use install_requirements() to install
# _____________________________________

# config.R

# main.R

# model/analysis_helpers.R
rlist
plyr
dplyr
purrr
#reshape2
magrittr
doParallel
rjags

# model/api_helpers.R
httr
RJSONIO

# model/ec_helpers.R

# model/plotting_helpers.R
ggplot2
ggrepel
RgoogleMaps

# model/PS_Plot.R
png

# model/report_helpers.R
rlist
plyr
tidyr
Rcpp
stringi

# model/utilities.R

# r-test-code.R

# report.Rmd
knitr
pander

# report_sections/Conclusion.Rmd

# report_sections/Executive_Summary.Rmd

# report_sections/Implications.Rmd

# report_sections/Introduction.Rmd

# report_sections/Methodology.Rmd

# report_sections/Results_and_Discussion.Rmd

# report_sections/Strengths_and_Limitations.Rmd
